 {%load static %}
 <footer style="background-image: url({% static 'images/cc.jpeg' %})">

    <p>Contact Me For Work</p>

                <p>
                    I'am always looking to grow and expand my
                    knowledge in the Tech world.
                    <br/>
                    Email Contact: maccoskuni@gmail.com
                    <br/>
                    Phone Contact: 068 043 2221
                </p>

    <!-------   Communication ---->
    <div class="social-icons">
        <a href="https://www.facebook.com/gskuni" target="_blank"> <i class="fa fa-facebook"></i> </a>
        <a href="https://twitter.com/TOO_KLIIN"> <i class="fa fa-twitter" target="_blank"></i> </a>
        <a href="https://www.instagram.com/maco_skuni/"> <i class="fa fa-instagram" target="_blank"></i> </a>
        <a href="https://www.linkedin.com/in/makhosandile-patric-skuni-3a7b77132/" target="_blank"> <i class="fa fa-linkedin"></i> </a>
         <a href="https://github.com/Tookliin" target="_blank"> <i class="fa fa-github"></i> </a>
    </div>

    <!-------   Copy Rights ---->
    <p class="copyright">
        Copy Rights @Vision<span>C</span>reative
    </p>
</footer>

  <!-------   Attached social bar ---->
    <div class="a-social-b">

        <a href="https://github.com/Tookliin" target="_blank"> <i class="fa fa-github"></i> </a>
        <a href="https://www.facebook.com/gskuni" target="_blank"> <i class="fa fa-facebook"></i> </a>
        <a href="https://twitter.com/TOO_KLIIN"> <i class="fa fa-twitter" target="_blank"></i> </a>
        <a href="https://www.instagram.com/maco_skuni/"> <i class="fa fa-instagram" target="_blank"></i> </a>
        <a href="https://www.linkedin.com/in/makhosandile-patric-skuni-3a7b77132/" target="_blank"> <i class="fa fa-linkedin"></i> </a>
    </div>
