{% load static%}
<div id="navbar">

            <nav style="background-color:black">
            <a href="/" class="logo" style=" font-weight: bold ">
                <hr>
                <b style=" font-size:38px;"></b>

                <b style=" font-size:38px;"></b>
                <hr>
            </a>
            <!--menu-->

            <ul>

                <li><a href="/" class="active">

                        Home
                </a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/experience">Experience</a></li>
            </ul>
        </nav>
</div>


        <!--All About Me-->

        <!--------Model -->
<!--        <img src="{% static 'images/data1.jpeg' %}"  class="model" height="840" width="500">-->


